<!DOCTYPE html>
<html>
<head>

    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<div class="container dashboard">

    <div class="logo">OK</div>

    <h1>Welcome {{ username }}</h1>

    <p>
        Authentication Successful
    </p>

    <form action="/logout"
          method="POST">
        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}">

        <button type="submit"
                class="logout-btn">
            Logout
        </button>
    </form>

    <div class="footer">
        Protected Session Active
    </div>

</div>

</body>
</html>
